:root {
    --primary-colour: #6F1E88;
    --text-colour: #707070;
    --secondary-color: #FFC112;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

h1 {
    color: var(--primary-colour);
    text-shadow: 0px 3px 6px rgba(111,30,136,0.17);
    font-size: 50px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
}

h1.section-title {
    width: 35%;
    margin: 2.5rem auto;
    position: relative;
}

h1.section-title::before, h1.section-title::after {
    content: '';
    display: block;
    width: 75%;
    height: 0.35rem;
    background-color: var(--secondary-color);
    position: absolute;
    top: 47.5%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(111,30,136,0.17);;
}

h1.section-title::before {left: 100%;}

h1.section-title::after {right: 100%;}

.past-announce {
    width: 195px;
    height: 425px;
    display: inline-block;
    margin: 0 5px;
    white-space: normal;
}

.announce-image-container {
    height: inherit;
    border-radius: 30px;
    box-shadow: 30px 20px 40px rgba(111,30,136,0.17);
    overflow: hidden;
    object-fit: cover;
    margin: auto;
}

.img-new-announce { width: 70%; }
.img-old-announce { width: 90%; }

.announce-image-container img {
    width: 110%;
}

h5.past-announce-title {
    font-size: 20px;
    line-height: 43px;
    color: var(--primary-colour);
    font-weight: 400;
    margin: 0;
}

h3.recent-announce-title {
    font-size: 40px;
    line-height: 72px;
    color: var(--primary-colour);
    font-weight: 400;
    margin: 0;
}

p.recent-announce-para {
    font-size: 18px;
    color: var(--text-colour);
}

p.past-announce-para {
    font-size: 15px;
    color: var(--text-colour);
    margin: 0.25rem 0;
    /* width: 90%; */
}

.read-more {
    color: var(--primary-colour);
    text-decoration: underline;
    line-height: 32px;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.old-announcement-container {
    width: 95%;
    margin: 4.35rem auto;
    /* border: 1px solid black; */
}

button.scroll-buttons {
    display: inline-block;
    border: none;
    background-color: var(--primary-colour);
    border-radius: 50%;
    color: white;
    font-size: 22px;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    margin: 0 1.25rem;
    text-align: center;
}

.card-overlay {
    display: inline-block;
    /* margin: 0 1.25rem; */
    width: 85%;
    vertical-align: middle;
    overflow-x: hidden;
}

.card-container {
    white-space: nowrap;
    list-style-type: none;
    /* border: 1px solid black; */
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
}

/* announcement overlay */
#announceOverlay {
    position: fixed;
    top: 3.5%;
    left: 32.5%;
    width: 35%;
    height: 90%;
    z-index: 10;
    background-color: white;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 20px;
    padding: 0.5rem 0.25rem;
    box-shadow: 30px 20px 40px rgba(111,30,136,0.17);
}

#announceOverlay::-webkit-scrollbar {width: 0.5rem;}
#announceOverlay::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0.75rem;
}

#closeAnnouncement {
    border: none;
    background: none;
    position: absolute;
    top: 0.75rem;
    right: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 22px;
}

.announce-overlay-container {
    position: absolute;
    height: 95%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.overlay-text {
    width: 80%;
    margin: 0 auto;
}

ul.socials {
    list-style-type: none;
    width: 10rem;
    margin: 0 auto;
    padding: 0;
}

ul.socials li {
    display: inline-block;
    width: 2.33rem;
    margin: 0 0.5rem;    
}

ul.socials li img{
    width: 100%;
}

/* responsive design */
@media(max-width: 1123px) {
    .card-overlay {width: 80%;}
    h1 {font-size: 40px;}
}

@media(max-width: 800px) {
    .card-overlay { width: 75%; }
    button.scroll-buttons {
        width: 1.75rem;
        height: 1.75rem;
        font-size: 18px;
    }
    h1 {font-size: 35px;}
    h1.section-title {width: 45%;}
    h1.section-title::before {left: 120%; width: 60%;}
    h1.section-title::after {right: 120%; width: 60%;}
}

@media(max-width: 540px) {
    .card-overlay { width: 60%; }
    h1 {font-size: 30px;}
    h1.section-title {width: 100%;}
    h1.section-title::before {display: none;}
    h1.section-title::after {display: none;}
}

@media(max-width: 360px) {
    .card-overlay { width: 55%; }
}