:root {
    --primary-colour: #6F1E88;
    --text-colour: #707070;
    --secondary-color: #FFC112;
}

.register {
    margin: 6.75rem 4.25rem;
    font-family: 'Century Gothic';
}

.register h1 {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 1.25rem;
}

.register h3 {
    text-align: center;
    border-bottom: 3px solid var(--primary-colour);
    margin-bottom: 1.5rem;
}

.inputField, .buttonField, .accountField{
    position: relative;
    margin: 0.75rem 0;
    width: 100%;
}

.inputField input, .inputField select, .inputField textarea {
    position: absolute;
    right: 0;
    border: 1px solid rgb(255, 187, 0);
    border-radius: 5px;
    height: 75%;
    width: 50%;
    color: rgb(255, 187, 0);
    transition: 0.1s ease-in;
    text-align: right;
}

.inputField input:focus,
.inputField input:hover,
.inputField select:focus,
.inputField select:hover,
.inputField textarea:hover,
.inputField textarea:focus{
    background-color: rgb(253, 245, 223);
    outline: rgb(255, 187, 0);
}


.inputField label {
    width: 50%;
}

label h4 {
    color: var(--primary-colour);
    font-weight: 700;
    font-size: 20px;
}

label p {
    font-weight: 400;
    font-size: 12px;
    color: black;
    padding: 0; margin: 0;
    display: inline-block;
}

.buttonField input {
    position: absolute;
    right: 0;
    background-color: var(--primary-colour);
    border-radius: 5px;
    font-weight: 700;
    color: white;
    padding: 0.25rem 0.5rem;
    border: none;
}

.buttonField input:hover{background-color: rgb(119, 68, 134);}

.accountField label {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
}

.accountField p {
    position: absolute;
    right: 0;
    text-align: right;
    display: inline-block;
}

label.req h4::after {
    content: ' *';
    color: red;
}

input.radio {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: static;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

label.radio {
    width: auto;
    vertical-align: middle;
    font-weight: 700;
}