@font-face {
  font-family: 'Azonix';
  font-weight: normal;
  src: url(./fonts/Azonix.otf) format("opentype");
}

@font-face {
  font-family: 'Aquire-Light';
  font-weight: lighter;
  src: url(./fonts/Aquire-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Aquire-Bold';
  font-weight: bold;
  src: url(./fonts/Aquire-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Aquire';
  font-weight: normal;
  src: url(./fonts/Aquire.otf) format("opentype");
}

@font-face{
  font-family: 'AvenirLTStd-Roman';
  font-weight: normal;
  src: url(./fonts/AvenirLTStd-Roman.otf) format("opentype");
}

@font-face{
  font-family: 'AvenirLTStd-Black';
  font-weight: bold;
  src: url(./fonts/AvenirLTStd-Black.otf) format("opentype");
}

@font-face{
  font-family: 'AvenirLTStd-Book';
  font-weight: normal;
  src: url(./fonts/AvenirLTStd-Book.otf) format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
